@model Humans.Web.ViewComponents.AuditLogComponentViewModel

<ul class="list-group list-group-flush">
    @foreach (var ev in Model.Events)
    {
        <li class="list-group-item py-2">
            @await Html.PartialAsync("Components/AuditLog/_Entry", ev)
        </li>
    }
</ul>
