@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    var displayName = currentUser?.DisplayName ?? User.Identity?.Name;
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Index">
            @Html.Raw(string.Format(Localizer["Login_Hello"].Value, Html.Encode(displayName)))
        </a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="nav-link btn btn-link border-0">@Localizer["Login_Logout"]</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Login_Login"]</a>
    </li>
}
</ul>
